@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image: url (backgroun.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVIGATION */
nav{
    width: 100%;
    height: 10vh;
}

nav .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container .logo{
    font-size: 1.8rem;
}

.container .links a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 20px;
    transition: 0.2s linear;
}

.container .links a:hover{
    color: #f5c400;
}

/* MAIN CONTENT */
section{
    width: 100%;
    height: 90vh;
}

section .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.content .heading{
    color: white;
    width: 600px;
}

.content .heading h3{
    background-color: #f5c400;
    color: black;
    width: 270px;
    padding: 7px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-weight: 700;
}

.content .heading h1{
    font-size: 4.2rem;
    margin-bottom: 25px;
}

.content .heading p{
    font-size: 1.3rem;
    line-height: 1.5;
}

.content .heading button{
    margin: 30px;
    width: 180px;
    height: 45px;
    font-size: 1.2rem;
    font-weight: 700;
    background: #f5c400;
    color: black;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
}

.content .heading button:hover{
    background: transparent;
    border-right: 2px solid #f5c400;
    border-bottom: 2px solid #f5c400;
    color: #f5c400;
}

section .image img{
    width: 650px;
    margin-top: 45px;
    filter: drop-shadow(3px 3px 12px yellow);
}

/* BOTTOM INFO */
.quality{
    position: absolute;
    bottom: 20px;
    left: 70px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.quality .experience{
    display: flex;
    color: white;
    align-items: center;
}

.experience h1{
    font-size: 3.8rem;
    margin-right: 10px;
}
.experience label{
    font-size: 1.3rem;
}
